<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dashboard_Dying.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Dashboard_Dying.Properties.Settings.CSOracle" connectionString="Data Source=&quot;(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=rio-sdoranaf1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)))&quot;;Persist Security Info=True;Integrated Security=True;User ID=/;Unicode=True"
            providerName="System.Data.OracleClient" />
        <add name="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=rio-sdoranaf1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)))_Connection"
            connectionString="XpoProvider=Oracle;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=rio-sdoranaf1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));user id=; password=;" />
        <add name="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=rio-sdoranaf1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)))_Connection 1"
            connectionString="XpoProvider=Oracle;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=rio-sdoranaf1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));user id=/; password=;" />
    </connectionStrings>
    <userSettings>
        <Dashboard_Dying.Properties.Settings>
            <setting name="usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="clave" serializeAs="String">
                <value />
            </setting>
            <setting name="UsuarioDesc" serializeAs="String">
                <value />
            </setting>
            <setting name="Servidor" serializeAs="String">
                <value>rio-sdoranaf1</value>
            </setting>
            <setting name="Puerto" serializeAs="String">
                <value>1521</value>
            </setting>
            <setting name="BD" serializeAs="String">
                <value>ORCL</value>
            </setting>
            <setting name="conexionBD" serializeAs="String">
                <value />
            </setting>
            <setting name="IsAdmin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UsuarioID" serializeAs="String">
                <value />
            </setting>
            <setting name="PlantaAsignada" serializeAs="String">
                <value />
            </setting>
            <setting name="NombrePlanta" serializeAs="String">
                <value />
            </setting>
            <setting name="CSOrgtex" serializeAs="String">
                <value />
            </setting>
            <setting name="Dominio" serializeAs="String">
                <value>OPS$DOMGILMDL01\</value>
            </setting>
            <setting name="skinName" serializeAs="String">
                <value>DevExpress Style</value>
            </setting>
            <setting name="MaquinaDefecto" serializeAs="String">
                <value>J038</value>
            </setting>
            <setting name="CadenaConexionOracle" serializeAs="String">
                <value />
            </setting>
            <setting name="UsuarioDominio" serializeAs="String">
                <value />
            </setting>
            <setting name="TodasPlantas" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AplicativoID" serializeAs="String">
                <value>SDASH</value>
            </setting>
        </Dashboard_Dying.Properties.Settings>
    </userSettings>
</configuration>